<main>
    <header>
        Header
    </header>
    <section>
        <nav>
            <ul>
                <li>
                    <div class="nav-icon">
                        <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                            <path d="M13 2v7h7"></path>
                        </svg>
                    </div>
                    
                    <p>Archivos</p>
                </li>
                <li>
                    <div  class="nav-icon">
                        <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 3h7v7H3z"></path>
                            <path d="M14 3h7v7h-7z"></path>
                            <path d="M14 14h7v7h-7z"></path>
                            <path d="M3 14h7v7H3z"></path>
                        </svg>
                    </div>
                    <p>Grid</p>
                </li>
                <li>
                    <div  class="nav-icon">
                        <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2 2 7l10 5 10-5-10-5z"></path>
                            <path d="m2 17 10 5 10-5"></path>
                            <path d="m2 12 10 5 10-5"></path>
                        </svg>
                    </div>
                    <p>Layers</p>
                </li>
                <li>
                    <div  class="nav-icon">
                        <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
                            <path d="M3 9h18"></path>
                            <path d="M9 21V9"></path>
                        </svg>
                    </div>
                    <p>Dysplays</p>
                </li>
                
                <li>
                    <div  class="nav-icon">
                        <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="m12 2 3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                        </svg>
                    </div>
                    <p>Favorite</p>
                </li>
            </ul>
        </nav>
        <article>
            <h2>PEPE</h2>
        </article>
    </section>
</main>