<article>
    <div class="card-container">
        <div class="card1 card">
            
            <div class="card-example-content">
                <div class="title">
                    <p>Continue with the programming course</p>
                    
                    <div class="svg-container">
                        <svg  fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
                            <path d="M12 4a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
                            <path d="M12 18a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
                        </svg>
                    </div>
                </div>
                <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto suscipit molestiae amet nihil delectus exercitationem at ducimus? Omnis, deserunt mollitia deleniti placeat esse rem atque, iure eveniet qui adipisci nulla.</p>
            </div>

        </div>
        <div class="card2 card">
            
            <div class="card-example-content">
                <div class="title">
                    <p>Do homeworks</p>
                    <div class="svg-container">
                        <svg  fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
                            <path d="M12 4a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
                            <path d="M12 18a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
                        </svg>
                    </div>
                </div>
                <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto suscipit molestiae amet nihil delectus exercitationem at ducimus? Omnis, deserunt mollitia deleniti placeat esse rem atque, iure eveniet qui adipisci nulla.</p>
            </div>

        </div>
    </div>
    <div class="btn-container">
        <button href="#" class="hbtn hb-fill-top">Get organized!</button>
    </div>
    
</article>

